# Core
flask==3.1.*
flask-cors==5.*
flask-socketio==5.*

# Database (PostgreSQL)
sqlalchemy>=2.0
psycopg2-binary>=2.9
python-dotenv==1.*

# SUMO + Visualization
pyproj==3.*
opencv-python-headless==4.*
numpy>=1.26
sumolib>=1.20
traci>=1.20

# YOLO (vehicle detection)
ultralytics>=8.4.42

# AI/RL
stable-baselines3>=2.0
gymnasium>=0.29

# Data cleaning
pandas>=2.0
openpyxl>=3.1
